# Archivos y carpetas de sistema
.DS_Store
Thumbs.db
package-lock.json

# Archivos de entorno
.env

# Archivos de log
*.log

# Dependencias de Node.js
node_modules/

# Archivos de Docker
docker-compose.override.yml
docker-compose.override.yaml

# Archivos de compilación
dist/
build/

# Archivos de IDEs
.vscode/
.idea/
*.swp
